---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=<OpenWeatherMapAPIKey>&q=Arvada,Colorado
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":-105.09,"lat":39.8},"sys":{"message":0.0517,"country":"United States of America","sunrise":1398859253,"sunset":1398909244},"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"base":"cmc stations","main":{"temp":279.45,"humidity":58,"pressure":1084.7,"temp_min":271.35,"temp_max":282.15},"wind":{"speed":3.53,"deg":332.502},"snow":{"3h":0.375},"clouds":{"all":88},"dt":1398818913,"id":5412199,"name":"Arvada","cod":200}
  recorded_at: Wed, 30 Apr 2014 00:48:29 GMT
recorded_with: VCR 2.9.0
