<% if @user.alerts.any? %>

    <%= render partial: 'users/alerts', member: @user.alerts %>

<% else %>

    <p>
      It looks like you don't have any Alerts set up yet!
      Search for a location using the <strong>Search</strong> box below, and then click on <%= link_to 'Create an Alert', locations_path, :class => 'btn btn-mini' %> button for that location.
    </p>
    <br>
    <p>
      <%= render 'locations/search_form' %>
    </p>

<% end %>