<% if @user.alerts.any? %>

    <%= render partial: 'users/alerts', member: @user.alerts %>

<% else %>

    <p>
      <strong>It looks like you don't have any Alerts set up yet! Search for a location and then click on 'Create an Alert' button for that location.</strong>
    </p>

    <%= render 'locations/search_form' %>

<% end %>