---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/174.51.246.225
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"ip":"174.51.246.225","country_code":"US","country_name":"United States","region_code":"CO","region_name":"Colorado","city":"Arvada","zipcode":"80004","latitude":39.8131,"longitude":-105.1257,"metro_code":"751","area_code":"303"}
  recorded_at: Tue, 22 Apr 2014 18:08:43 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=shshshgethr&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 22 Apr 2014 18:08:43 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=39.7392,-104.9847&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "200 E",
                       "short_name" : "200 E",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Colfax Avenue",
                       "short_name" : "Colfax Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Capitol Hill",
                       "short_name" : "Capitol Hill",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                     [...]
