---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=39.800057,-105.089911&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "5625",
                       "short_name" : "5625",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Brentwood Street",
                       "short_name" : "Brentwood St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Arvada",
                       "short_name" : "Arvada",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Jefferson County",
                       "short_name" : "Jefferson County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "80002",
                       "short_name" : "80002",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "5625 Brentwood Street, Arvada, CO 80002, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.800057,
                       "lng" : -105.089911
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.80140598029149,
                          "lng" : -105.0885620197085
                       },
                       "southwest" : {
                          "lat" : 39.7987080197085,
                          "lng" : -105.0912599802915
                       }
                    }
                 },
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "80001",
                       "short_name" : "80001",
                       "types" : [ "postal_code" ]
                    },
             [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Arvada&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Arvada",
                       "short_name" : "Arvada",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Jefferson County",
                       "short_name" : "Jefferson County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Arvada, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.89271790000001,
                          "lng" : -105.0423129
                       },
                       "southwest" : {
                          "lat" : 39.784087,
                          "lng" : -105.3025431
                       }
                    },
                    "location" : {
                       "lat" : 39.8027644,
                       "lng" : -105.0874842
                    },
        [...]
