<%- model_class = WeatherReport -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @weather_report, :class => 'btn'  %>
<%= link_to t('.back', :default => t("helpers.links.back")),
            weather_reports_path, :class => 'btn'  %>
