<% provide(:title, 'Edit Rule') %>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="span6">
        <%- model_class = Rule -%>
        <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="container">

    <div class="row">
      <div class="about span12" >

        <%= render 'form' %>

        <%= link_to 'Show', @rule, :class => 'btn' %>
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    alerts_path, :class => 'btn'  %>

      </div>
    </div>
  </div>
</div>