<footer class="footer">
  <small>
    A test project by <a href="https://www.linkedin.com/in/mkreyman">Mark Kreyman</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://mark.kreyman.com/">Blog</a></li>
<<<<<<< HEAD
      <li><a href="http://mark.kreyman.com/resume/">Resume</a></li>
=======
      <li><a href="http://mark.kreyman.com/contact/">Resume</a></li>
>>>>>>> 360c5cb50f030216f2d8963dcaf6607b9da67193
      <li><a href="http://mark.kreyman.com/contact/">Contact</a></li>

    </ul>
  </nav>
</footer>