<footer class="footer">
  <small>
    A test project by <a href="https://www.linkedin.com/in/mkreyman">Mark Kreyman</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://mark.kreyman.com/">Blog</a></li>
      <li><a href="http://mark.kreyman.com/resume/">Resume</a></li>
      <li><a href="http://mark.kreyman.com/contact/">Contact</a></li>

    </ul>
  </nav>
</footer>